<a href="https://colab.research.google.com/github/CMC-QCL/python-basics/blob/main/Daniel/practical_programming_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Programming with Python
Welcome to the QCL Workshop Practical **Programming with Python**.


![image.png]()

We will use collab to execute code in a virtual environment and by the end of this workshop you will be able to:

* Create and use functions and methods
* Create lists and dictionaries and access its elements
* Read error messages
* Use for loops
* Use conditional statements (if, elif and else)
* Write small practival scripts

##Exercise for today
Create a list of items for breakfast!

##Pre-requisites
- This is a Level 1 Workshop. No programming experience is required, but some familiarity with another programming language will be useful.
- Copy the notebook to your local drive
- Deactivate use of AI
---


By The end of the workshop we should be able to create functions like:

In [ ]:
# Include budget
def groceries(item_dictionary, budget):
    # Make sure we have a budget
    if budget <= 0:
        print("Budget needs to be a positive number.")
        return

    # Start our grocery list
    final_list = "\nGrocery list:\n\n"
    too_expensive = "\n"

    # Iterate over each item
    for key in item_dictionary:
        # Get item's information
        item_name = key
        value = item_dictionary[key]
        item_amount = value[0]
        item_price = value[1]
        item_total = item_amount * item_price

        # Check if we can buy it
        if item_total <= budget:
            # Add it to the grocery list
            final_list += f"{item_amount} {item_name} for {item_total} USD\n"
            budget -= item_total

        # We cannot buy any of it
        else:
            too_expensive += f"There's not enough budget for {item_amount} {item_name}.\n"

    # Print our grocery list
    print(final_list + too_expensive)


# Crate the dictionary and call the function with a budget
my_dictionary = {'milk': [2, 3.5], 'eggs': [12, 0.44], 'apples': [9, 1]}
budget = float(input("What is your budget? "))
groceries(my_dictionary, budget)

___
# Python

Python is one of the most popular programming languages. Some of the characteristics that make Python a great programming language are:

* It is open source and has a large community of developers.
* Has a simple and easy to read syntax (beginner-friendly and maintainable code).
* It is an interpreted language.
* It is powerful enough to build robust and efficient applications.

Some of the things you can do with Python are:

* Create Graphical User Interfaces (GUIs)
* Web development
* Data Analysis & Machine Learning
* Automation of repetitive tasks (renaming files, cleaning data, web scraping)

Fun fact: Python was named in honor to the British comedy group, Monty Python.

![](https://bit.ly/monty-py)

## Intro to Collab

Colab is a platform hosting a Jupyter Notebook service that requires no setup to use and provides free access to computing resources, including GPUs and TPUs. Colab is especially well suited to machine learning, data science, and education.

This document lives in a session executed on a server and memorizes the sequence of code executed during the session.

We can create pieces of softare, and execute them on a remote machine.

It consists of text cells and code cells...

##This is a text cell
It uses markdown formatting

In [ ]:
This is a code cell, it is expecting python formatted code

In [ ]:
# Comments are lines in the code that are not executed, they work as a reference for the coder and reader
# Type any value
7

There are other methos to execute Jupyter notebooks or execute code using an Integrated Development Environment (IDE)

## Variables
Are names for values in your computer’s memory that you want to use in a program.

Python variable names have some rules:

* They can contain only these characters:

  * Lowercase letters (a through z)

  * Uppercase letters (A through Z)

  * Digits (0 through 9)

  * Underscore (_)

* They are case-sensitive: thing, Thing, and THING are different names.

* They must begin with a letter or an underscore, not a digit.

* Names that begin with an underscore are treated specially.

* They cannot be one of Python’s reserved words (also known as keywords).

****The notebook executes code sequentially*

In [ ]:
# Call your first variable
my_first_variable

In [ ]:
# Assign a value to a variable
my_first_variable = 7

In [ ]:
# Call your variable again
my_first_variable

## Operators
We have different operators that work differently on different types of variables

Mathematical operators:
```
  +
  -
  /
  *
  //  Integer Division (Truncating division)
  %  Modulus (remainder)
```

In [ ]:
# Execute mathematical operations over numbers
8.33 + 3

In [ ]:
# We can also perform operations over pre-defined variables
result_variable = my_first_variable + 3

In [ ]:
#Display the value of the resulting variable
result_variable

## Python data are object
Computers store everything as bits, but Python helps us organize those bits into meaningful data types like numbers, text, or more complex objects. Instead of dealing directly with raw memory, Python wraps data values in objects that occupy memory “shelves” like boxes of different sizes. This system lets programs keep track of both where data is stored and what type it is, making it easier to work with values like integers, strings, or functions without worrying about the underlying bits.

In Python, an object is a chunk of data that contains at least the following:

* A type that defines what it can do

* A unique id to distinguish it from other objects

* A value consistent with its type

* A reference count that tracks how often this object is used

*How do we interact with those objects?*

## Functions
In Python, a function is a named, self-contained block of code int the form of `function_name(arguments)` designed to perform a specific task. Functions are fundamental to organizing and reusing code, concepts related to modularity and readability in programs.
Python includes a variety of built-in functions like `id()` and `type()`

In [ ]:
# use the built-in function print() to display the value of a variable
print(my_first_variable)

In [ ]:
# Check the space in memory (id)
id(my_first_variable)

*We can have objects that can be replaced in the same memory space and others that you cannot. This is refered as mutability, strings are NOT mutable, while lists or dictionaries are.*

In [ ]:
# Check the variable type
type(my_first_variable)

In [ ]:
#We can declare strings by enclosing characters within singe ('') or double quotation ("")
type("Raul")

In [ ]:
# We can declare booleans (True, False) values
type(True)

In [ ]:
# In python, we can declare lists as an array of values with same or different type
# I can also execute multiple lines of code in a single cell
my_list = [3,5,5,6,7,8,True,'a']
len(my_list)

In [ ]:
# Use the predefined function print() to display the value of a variable
print(my_list)

In [ ]:
# Lines of code also execute sequentially...
my_third_variable
my_third_variable = "This is a text string"

In [ ]:
'''
This is a multiple line comment, everything marked red is out of the code
execution.

Take a moment to reflect on what you have learned so far about python objects,
variables, and pre-defined functions. Test your knowledge using the following values:

* 3.1416
* 3j
* set([3,5,5,6,7,8,8,8])
* b'a'
* {'name': 'Ringo', 'Status': 'Active', 'Pet': 'Dog'}
'''

# Write your code in this cell below:

## Define a list with strings representing items for breakfast and assign it to the variable **groceries_list**

In [ ]:
# Declare your groceries_list here:

*What type of object is it?*

## Lists
Special object that contain a collection of objects. They have a variety of built in methods!

`my_list = [element1, element2, element3, ...]`

In [ ]:
# create an empty list
my_list = []
print(my_list)

In [ ]:
# I can nest lists whitin a list

nested_list = [[1, 2, 3, 4], ['a', 'b', 'c', 'd']]

In [ ]:
# Convert a tuple object to list
my_list = list(("yogutrt", "kiwi", "granola"))
print(my_list)

In [ ]:
# What happens if you convert a string to a list?
string_to_list = list("tomato, onion, lettuce")
print(string_to_list)

In [ ]:
# You can also split strings by a given character, if we split by space ' '
# or other characters, we can obtain a customized list.
test_list = 'split this string'.split(' ')
print(test_list)

In [ ]:
# In lists the operator + combines two or more lists, and the operator * repeats the elements of the list
fruits_list = ['apple', 'banana', 'cherry']
groceries_list = groceries_list + fruits_list
fruit_basket_list = fruits_list * 5
print(groceries_list)
print(fruit_basket_list)

## Additional list functionality

## Counting
`len(mylist) # returns the number of items in a list`

In [ ]:
# return the number of items in a list
len(groceries_list)

## Sorting
```
.sort() # rearranges the list itself (modifies list in place)
sorted(mylist) # returns copy that is sorted
```

In [ ]:
# Get a sorted list
random_letters_list = ['a', 'd', 'c', 'z', 'x', 'x']
print(f'sorted list:{(sorted(random_letters_list))}')
print(f'{random_letters_list=}')

## Accessing objects

The dot (.) in Python is how you access things that belong to an object

.sort() is a method that belongs to the list and rearranges the items on it

	•	Object.attribute → get data (like tomato.color)
	•	Object.method() → do an action (like groceries.count())

In [ ]:
# Sort random letters list
random_letters_list.sort()
print(random_letters_list)

In [ ]:
# Another example of this concept is the method .lower() which can be used to normalize text

"My_StRiNg".lower()

## User-defined Functions
Define a function as
```
def function_name(arguments):
  code_to_execute
  second_line_of_code
  third_line_of_code
  ...
```
Note the indentation, every line of indented code will execute under the defined function.

In [ ]:
# Make a function that displays the values of your grocery list
def display_grocery_list():
  print(groceries_list)

We can use the piece of code by calling the function

In [ ]:
# Call your function
display_grocery_list()

In [ ]:
# You can use arguments to tell the function which variable should use during it's execution
def display_grocery_list(list):
  print(list)

# Call the function with the argument
display_grocery_list(groceries_list)

In [ ]:
# Call the function with a different argument
display_grocery_list(fruit_basket_list)

In [ ]:
# Call the function with an explicit argument
display_grocery_list(['milk', 'eggs', 'bacon'])

### Global vs. Local variables
Based on a variable's accessibility (scope), we can have global and local variables. The variables we create outside of a function are global variables, which means we can use them anywhere else in our code.

On the other hand, variables declared inside a function are local variables. These can only be accessed inside that function.

In [ ]:
# Define your global variable outside of any function
global_variable = 'Global'

In [ ]:
# Define your local variable inside a function
def local_variable_example():
  local_variable = 7
  print(local_variable)

In [ ]:
# Execute your function
local_variable_example()

In [ ]:
# Call directly your local variable
print(local_variable)

In [ ]:
#display your global variable
print(global_variable)

In [ ]:
# print another global variable
print(groceries_list)

## Conditional operators
### **Comparison operators**

Return either `True` or `False`



```
== #equality

!= #inequality

< #less than

<= #less than or equal

> #greater than

>= #greater than or equal
```

### **Boolean Operators**

`and`: returns `True` if both conditions are `True`

`or`: returns `True` if either condition is `True`

`not`: returns `True` if statement is `False`

### **Identity operator**
`is` operator used to test for object identity

### **Membership operator**
`in` checks if a value is present within a sequence

### The following evaluate to `False`:
```
False -boolean

0 -zero integer

0.0 -zero float

None -Null

'' -empty string

[] -empty list

() -empty tuple

{} -empty dict

set() -empty set
```

All other values evaluate to `True`

this is extremely helpful for evaluating statements that include **if, while, or for**

Take a minute to reflect and guess what do the lines of code will return
```
4 == "4"

True or False

True is False

4 == 4 or 2 > 7  #(is left side True? Is right side True?)

True and False

```
Once you made your guesses, type each command in the interactive session and verify your assumptions

In [ ]:
# Code here

---
## Statements
###If statement
execute code if a condition is met (evaluates to True)

```
if condition:
  code_to_execut_if_true`
```

 *\* Note the indentation*

In [ ]:
# Example with explicit statements
if True:
  print('This code will be executed')

if False:
  print('This code will not be executed')

In [ ]:
# Use comparison operators to evaluate conditions
if 7 > 3:
  print('7 is greater than 3')

In [ ]:
# We can use variables in the conditions
if 7 > my_first_variable:
  print('7 is greater than my_first_varibale')

How do we troubleshoot this? Can I print the value of my variable to verify its value before operating?

-> You can use a print operation outside of the conditional statement to verify the value of your variables!

-> You also can mix text and values on your print statement...

## Use formatted string litteral f-string

Combine code and strings in a single line of code

`f'statement_here'`

In [ ]:
# Concatenate strings in the print function
print('My grocery_list contains:' + 'eggs')

In [ ]:
# Concatenate strings with a list in the print function
print('groceries_list contains:' + groceries_list)

In [ ]:
# To display the value of an f-string you can insert it as an argument of a print function.
# Example of f-string implementation

name = 'Alice'
occupation = 'Cheff'
# Embed Python expressions directly within the string by enclosing them in curly braces {}
f'My name is {name} and I am a professional {occupation}'

In [ ]:
# To display ' or " characters, use different quotation marks on your statement

print(f"{name}'s grocery list contains: {groceries_list}")

In [ ]:
# Different ways to print the value of a variable with descriptive text:
print(f'The value of my_first_variable is: {my_first_variable}')
print(f'The value of {my_first_variable=}')
print(f'The type of my_first_variable is: {type(my_first_variable)}')

##**elif**
'else if', allows additional conditions to check for true
```
elif condition:
  code_to_run_if_elif_condition_is_true
```

In [ ]:
# Let's evaluate if we have more than 10 items in our groceries list
def evaluate_if_list_has_more_than_10_items(list):
  #evaluate the size of my list
  list_size = len(list)
  print(f'{list_size=}')
  #Evaluate case for less than 10 items
  if list_size < 10:
    print('The list has less than 10 items')
  #Evaluate case for equals 10 items
  elif list_size == 10: # Note the comparison operator
    print('The list has 10 items')

# Call my function
evaluate_if_list_has_more_than_10_items(groceries_list)



## **else**
allows code to be run when preceding condition(s) are NOT met

```
else:
  code_to_run_if_all_preceding_conditions_are_False
```

In [ ]:
# Modify the function evaluate_if_list_has_more_than_10_items with the
# complete if/else statements covering the remaining case when the list has
# more than 10 items

*Challenge: Do you think you can make the function shorter?*

In [ ]:
# Write your code here

In [ ]:
# let a user select the input
user_input = input('Enter a breakfast list: ')

In [ ]:
# call your function
evaluate_if_list_has_more_than_10_items(user_input)

*Why?*

Use the function `int()` to convert the input into an integer

In [ ]:
# integer_input = int(input('Enter a number: '))
integer_input = int(input('Enter a number: '))
print(f'{type(integer_input)=}')

In [ ]:
# Function to verify if variable is a list
def verify_if_item_is_a_list(variable):
  if type(variable) == list:
      print('Variable is a list')
  else:
      print(f'Caution: Variable is not a list, is {type(variable)}')

In [ ]:
# Call your function using a user_input
verify_if_item_is_a_list(user_input)

In [ ]:
# Call your function with the grocery list
verify_if_item_is_a_list(groceries_list)

*What if we want to evaluate all the items of the list?*

---

## For Loops
For loops are used to iterate over the elements of a finite sequence. `for var in iterable : code to execute`

One way to iterate over our list is by using the `range()` and `len()` functions. The `range(n)` function returns a sequence of numbers from 0 to n-1 in increments of 1. We can use this together with our for loop to print the sequence of numbers or elements.

Syntax: range(start, stop, step) where:

start: Starting number (inclusive, default is 0)

stop: Ending number (exclusive)

step: Increment (default is 1)

In [ ]:
# Optional: Define your groceries list if you don't have one saved for the session
groceries_list = ['milk', 'Eggs', 'Bread', 'HAM', 'hashbrowns', 'sausage', ',', '5', 'cereal', '10', '.', '?', 'bacon', 'lettuce', 'tomato', 'bread']

In [ ]:
# note that the (in) keyword is used in this instance to iterate over the
# elements of an iterable object

for item in range(5):
  print(item)

In [ ]:
# By default ranges start from 0 and excludes the last item
range(5)

In [ ]:
# We can use i as a variable name for a loop counter
# Count every 2 numbers from 0 up-to (not including) 20
for i in range(0, 20, 2):
  print(i)

In [ ]:
'''
The operator (in) helps us to iterate over list items.
In this cell create your function that iterates through a list of numbers and
calculates the total sum and prints it.
* you can take as example the list grocery_prices = [0, 1, 1, 2, 3, 5, 8, 13, 21]
should output 54
'''

# Write your code here

In [ ]:
# What is the lenght of our list?
len(groceries_list)

16

In [ ]:
# make all the items on your list lowercase using a for loop
# Note the use of a return statement that selects what is going to be returned
# when the funciton is called
def lowercase_items_on_list(list):
  list_lower=[]
  for items in list:
    list_lower.append(items.lower())

  return(list_lower)

groceries_list = lowercase_items_on_list(groceries_list)
print(groceries_list)

['milk', 'eggs', 'bread', 'ham', 'hashbrowns', 'sausage', ',', '5', 'cereal', '10', '.', '?', 'bacon', 'lettuce', 'tomato', 'bread']

## While Loops
The simplest looping mechanism in Python is *while*.


```
While condition:
  execute your code
  modify your condition
```

In [ ]:
# Using the interactive interpreter, try a simple loop that prints the numbers from 1 to 5:

counter=1
while counter <= 5:
  print(counter)
  counter += 1

1
2
3
4
5

In [ ]:
# Cancel loop with a break
while True:
  value = input("Type your grocery item [or 'q' to quit]: ")
  if value == 'q':      # quit
    break
  groceries_list.append(value.lower())

print(groceries_list)

Type your grocery item [or 'q' to quit]: Eggs
Type your grocery item [or 'q' to quit]: q
['milk', 'eggs', 'bread', 'ham', 'hashbrowns', 'sausage', ',', '5', 'cereal', '10', '.', '?', 'bacon', 'lettuce', 'tomato', 'bread', 'eggs']

---
## Indexing
Access a character or an element corresponding to a given index, the first position is accessed by index value 0

### List indexing
Lists have much of the functionality of strings: indexing, slicing, etc.
```
mylist[start:end:step]
```

In [ ]:
# Call the first item of the grocery list
groceries_list[0]

In [ ]:
# Return the original list
groceries_list[:]

In [ ]:
# call items in a range of indexes between 1 and 5
groceries_list[1:5]

In [ ]:
# Return the final item of the list
groceries_list[-1]

In [ ]:
# reverse a list
groceries_list[::-1]

In [ ]:
# Return every other item of the list
groceries_list[::2]

In [ ]:
# Return half of items on your list using index

In [ ]:
# Iterate over every item of the list using range and get the index
for i in range(len(groceries_list)):
  print(f'index:{i} value:{groceries_list[i]}')

*Python lists are 0-indexed, meaning that a list item starts from 0*

In [ ]:
# Using different syntax we can iterate over the list as:
for items in groceries_list:
  print(items)

In [ ]:
# Generate a function that evaluates if a user input is an existing element in our
# grocery list using a for loop. Print an indicator of what was the result.

print(type(groceries_list))
print(groceries_list)
def find_item_in_groceries_list(item):
  # Input your code here

In [ ]:
# Test the code with an user input
user_input = input('Enter a grocery item: ')
find_item_in_groceries_list(user_input)

In [ ]:
# Standarize your inputs to avoid misspelling errors
user_input = input('Enter a grocery item: ').lower()
find_item(user_input)

In [ ]:
# Other way of solving the same problem: Operator in
print(type(groceries_list))
print(groceries_list)
def find_item(item):
  # Input your code here
    if item in groceries_list:
      print(f'{item} is in the list')
    else:
      print(f'{item} is not in the list')

In [ ]:
# Same results
user_input = input('Enter a grocery item: ').lower()
find_item(user_input)

In [ ]:

# Other way of solving the same problem: Return boolean
print(type(groceries_list))
print(groceries_list)
def is_item_in_list(item):
  # Input your code here
    if item in groceries_list:
      return True
    else:
      return False

# Same results
user_input = input('Enter a grocery item: ').lower()
is_item_in_list(user_input)

## Add items to a list
Use the `.append()` method


```
list.append('new_item')
```

In [ ]:
# Append the next item to the letters_list
letters_list = ['a', 'b', 'c']
print(letters_list)
letters_list.append('d')
print(letters_list)

In [ ]:
# Use the append method to create a function that evaluates
# if the user's item from the manual input is on the list, if is not, add it.

In [ ]:
# You can also add lists with +
old_grocery_list = ['ham', 'hashbrowns', 'sausage',',', '5', 'cereal', '10', '.', '?', 'milk']

groceries_list = groceries_list + old_grocery_list
print(groceries_list)

In [ ]:
# extend method merges items from a list, tuple, set or dict to the list as independent items
blt = ['bacon', 'lettuce', 'tomato', 'bread']
groceries_list.extend(blt)
print(groceries_list)

## Removing list items
delete by index: `del my_list[-1]`

delete by value (first match): `my_list.remove("the")`

delete by index and return the item: `my_list.pop(index)`
  
  - defaults to -1
  
  - can assign the popped item: `popped = my_list.pop()`

remove all items: `my_list.clear()`

In [ ]:
# Create a function with a (for) loop to delete the garbage items in the list (., ?, 10, ,, 5)

## Finding values in a list
find the index of a given value (error if not found):

`mylist.index(value)`

search for a value in a list (returns True/False):

`value in mylist`

count # of times a value appears (not found returns 0):

`mylist.count(value)`

```
list += list
list.index(3)
3 in list
list.count(3)
```

In [ ]:
# Find the index of the value 'milk'

In [ ]:
# Find out if we have the item 'sausage' in our list

In [ ]:
# how many times does 'bread' appears in our list?

In [ ]:
# Make a function that transforms a list into a set of unique items

Have you noticed some of the functions we use return values?

In [ ]:
# Let's test if our list has unique values, note the use of the function set()
# that transforms a list into a type set object.
def has_unique_values(input_list):
    unique_set = set(input_list)
    return len(input_list) == len(unique_set)

has_unique_values(groceries_list)

We can return values of operations made within our function every time it's called.

What if I needed multiple loaves of bread? We can use other types of objects to keep track of how many items we need

## Dictionaries and sets

###Dictionaries
A mutable object consisting of `{key:value}` pairs

The items are accessed by value of the key not an index, simmilar to a lookup table.

Dictionaries can be defined by a set of curly brackets

Empty Dictionary: `empty_dictionary = {}`

With items: `my_dictionary = {"strawberry":3, "blackberry": 2}`

With the function `dict()`: `my_dictionary = dict("banana":6, "avocado":5)`

Method `fromkeys()` Using a list of items: `my_dictionary = dict.fromkeys(my_list, 0)`

### Accessing dictionary items
Dictionary items are accessed by keys, not by index position. By default, looping through a dictionary will loop through the key values.

In [ ]:
# Let's define a dictionary 'd'
d = {"name":"John", "title":"Head Chef"}

In [ ]:
d["name"] # returns value, exception if not

In [ ]:
d["occupation"]

In [ ]:
d.get("name") #returns value, otherwise none

In [ ]:
d.get("occupation")

In [ ]:
"name" in d # returns True or False

In [ ]:
for key in d:
  print(key)  #return keys

In [ ]:
for key in d: print(key,":", d[key])  #return key:value

###Get all keys or all values (Dictionary methods)

Where dictionary object name is 'd'

get all keys as a list: `list(d.keys())`

get all values as a list: `list(d.values())`

get all (key, value) pairs: `list(d.items())`

In [ ]:
list(d.keys())

In [ ]:
list(d.values())

In [ ]:
list(d.items())

### Removing dictionary items
delete by key: `del d["name"]`

delete and return with pop: `d.pop("name")`

reassign by key: `d["name"] = "Bill"`
this will create a new key ("name") and value ("Bill") pair if the key does not already exist

In [ ]:
# Eliminate one item from your dictionary d

In [ ]:
# Try eliminating another item from your dictionary d and assign it to a variable

Create a dictionary groceries_dictionary with unique keys taken from your grocery_list

In [ ]:
# Insert your code here

*Using* imported functions

In [ ]:
# In python we can import libraries using the keyword import and the name of the library
import random
# Generate a random float between 1 and 20 (inclusive)
random_float = random.uniform(1, 20)
#round the float to two decimal places
# random_float = round(random_float, 2)

random_float

Insert values for your dictionary items relating quantity needed, for example, if you need 12 eggs it will look like {"eggs": 12}

In [ ]:
# Code here

Add the following items to your quantity list, add 1 for every time the item appears on the list

In [ ]:
# Declare the additional_list
additional_list = ['eggs', 'eggs', 'eggs', 'milk', 'bread', 'tomato', 'tomato', 'tomato', 'tomato', 'tomato', 'tomato', 'tomato', 'tomato', 'tomato', ]

In [ ]:
# Your code to add the items quantity in your groceries_dictionary here:

In [ ]:
# load a dictionary with pre-defined prices
items_price = {
    # Fruits
    "apple": 1.00,
    "banana": 0.50,
    "orange": 0.80,
    "strawberries": 2.50,
    "blueberries": 3.00,
    "grapes": 2.20,
    "kiwi":3.50,

    # Bakery
    "bread": 2.50,
    "bagel": 1.20,
    "croissant": 2.00,
    "muffin": 1.80,
    "pancake": 3.50,
    "waffle": 3.50,

    # Protein
    "egg": 0.25,
    "bacon": 2.50,
    "sausage": 2.80,
    "ham": 3.00,
    "greek yogurt": 1.50,
    "peanut butter": 2.00,

    # Dairy
    "milk": 3.00,
    "cheese": 2.50,
    "butter": 1.50,

    # Drinks
    "coffee": 2.00,
    "tea": 1.50,
    "orange juice": 2.20,
    "smoothie": 3.50,

    # Vegetables
    "lettuce":1.50,
    "spinach":1.30,
    "tomato":2.50,
    "onion":1.70,

    # Extras
    "oatmeal": 2.00,
    "cereal": 2.50,
    "granola": 2.80,
    "honey": 2.20,
    "jam": 1.80
}

## ⚠️ Exceptions

In [ ]:
# verify if groceries is a list object using exceptions
groceries = input('Enter a grocery list: ')
print(type(groceries))
try:
  if not isinstance(groceries, list):
    raise TypeError('groceries is not a list')
  else:
    print('groceries is a list')
  print(groceries)
except Exception as e:
  print(f'Caught an exception: {e}')

In [ ]:
# How do I fix this error? split method
groceries = input('Enter a grocery list: ').split()
print(type(groceries))
try:
  if not isinstance(groceries, list):
    raise TypeError('groceries is not a list')
  else:
    print('groceries is a list')
  print(groceries)
except Exception as e:
  print(f'Caught an exception: {e}')

# Final Exercise

Create a function calculate_total_price() which calculates the total cost based on the groceries dictionary, operating quantity and item's price.
* Evaluate if your list comes in a form of a dictionary, if not, create an error
* If there is no price for one of your items, ask the user to enter a price manually and add it to the price list

In [ ]:
# Your code here

Include a budget to your function and use the inventory dictionary to:
* Verify if the groceries are affordable given a specific budget. Print an output with the total budget and remaining budget after purchase.
If the groceries are more than we can afford print a list of the items we won't be able to purchase assuming we purchase each item alphabetically
* Verify the store has all the products I need and let the user know if any product is not available. If not available the item should not be counted in the total price. Use the dictionary *items_inventory* below.

```
items_inventory = {
    # Fruits
    "apple": 20,
    "banana": 50,
    "orange": 80,
    "strawberries": 50,
    "blueberries": 5,
    "grapes": 20,
    "kiwi":10,

    # Bakery
    "bread": 50,
    "bagel": 20,
    "croissant": 2,
    "muffin": 18,
    "pancake": 35,
    "waffle": 3,

    # Protein
    "egg": 20,
    "bacon": 2,
    "sausage": 2,
    "ham": 3,
    "greek yogurt": 50,
    "peanut butter": 2,

    # Dairy
    "milk": 3,
    "cheese": 50,
    "butter": 50,

    # Drinks
    "coffee": 2,
    "tea": 10,
    "orange juice": 2,
    "smoothie": 50,

    # Vegetables
    "lettuce":50,
    "spinach":30,
    "tomato":20,
    "onion":17,

    # Extras
    "oatmeal": 2,
    "cereal": 2,
    "granola": 2,
    "honey": 2,
    "jam": 1
}
```

*Make sure to substract the items from inventory after counting them*

In [ ]:
# Define your inventory items_inventory

In [ ]:
# Your additional code here

## Extra Challenge

Today is "Happy Tuesday" discount day in the store! Modify your code to give a 10% discount over the total price of your items.
Also there are specific discounts for:
- Tomatoes: 2x1
- Milk: Buy 1 get 2nd 50% off
- greek yogurt: Buy 1 get 2nd 50% off
- Buy bread, get bagel for free


Print the total price and items purchased with total price for each collection of items and discount applied e.g. 4 tomatoes $40.0 (2x1)

In [ ]:
# Your code here

*Did your output include any bagels?*

You were hired to make a list of breakfast items for the secret service agency, create an encoder and decoder to encript your list items
e.g. If e = 5, g = 1. 'Egg' = 511

In [ ]:
# Your code here